In [ ]:
#This script creates a binary spreadsheet of all participants enrolled in EF and whether or not their 
#collateral scale data is complete
#Inputs:
    #enrollment sheets pulled from AXIS, stored at afp://saturn/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs
    #merged sheet of all collateral scales, stored at afp://saturn/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/outputs
#Outputs:
    #a binary spreadsheet of collateral SR data collected for T1 participants enrolled prior to April 1st, 2022 
    #a binary spreadsheet of collateral SR data collected for T2 participants enrolled prior to April 1st, 2022

In [12]:
import pandas as pd

In [17]:
#read in T1 enrollment
axis_t1=pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/axis_enroll_t1.csv', dtype=str)
axis_t1=axis_t1.drop(columns=['scan_1_date'])
#axis_t1

In [14]:
#reformat 
t1_enroll=axis_t1['bblid']
t1_enroll=t1_enroll.tolist()
t1_enroll = [str(t) for t in t1_enroll]

In [18]:
#read in all collaterall scales 
scales=pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/outputs/EF_collateral_scales.csv', dtype=str)

In [20]:
#sort for t1 scales
scales_t1 = scales[scales.timepoint.eq('1')]
scales_t1 = scales_t1.astype(str)

In [21]:
#loop through SR for each scale
has_ari=[]
has_eswan_adhd=[]
has_eswan_dmdd=[]

for index, row in scales_t1.iterrows():
    for t in t1_enroll:
        if (t in row['bblid']) and ('2' in (row['ari_collateral_complete'])):
            has_ari.append(t)
        if (t in row['bblid']) and ('2' in (row['eswan_adhd_collateral_complete'])):
            has_eswan_adhd.append(t)
        if (t in row['bblid']) and ('2' in (row['eswan_dmdd_collateral_complete'])):
            has_eswan_dmdd.append(t)

In [22]:
audit = pd.DataFrame (t1_enroll, columns = ['BBLID'])
print(len(audit))

173

In [23]:
ari=[]
eswan_adhd=[]
eswan_dmdd=[]

for val in audit.values:
    if val in has_ari:
        ari.append(1)
    if val not in has_ari:
        ari.append(0)
    if val in has_eswan_adhd:
        eswan_adhd.append(1)
    if val not in has_eswan_adhd:
        eswan_adhd.append(0)
    if val in has_eswan_dmdd:
        eswan_dmdd.append(1)
    if val not in has_eswan_dmdd:
        eswan_dmdd.append(0)

In [24]:
audit['ari']=ari
audit['eswan_adhd']=eswan_adhd
audit['eswan_dmdd']=eswan_dmdd

In [36]:
audit.head(n=5)

   BBLID  ari  eswan_adhd  eswan_dmdd
0  19861    1           1           1
1  20124    0           0           0
2  20125    0           0           0
3  20139    1           1           1
4  20141    0           0           0

In [26]:
audit.to_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/audits/EF_T1_collateral_SR_audit.csv', sep = ',', index=False)

In [27]:
#and for T2

In [28]:
#read in t2 enrollment
axis_t2=pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/axis_enroll_t2.csv')
axis_t2=axis_t2.drop(columns=['scan_2_date'])
#axis_t2

In [29]:
t2_enroll=axis_t2['bblid']
t2_enroll=t2_enroll.tolist()
t2_enroll = [str(t) for t in t2_enroll]

In [30]:
#filter for timepoint 2
scales_t2 = scales[scales.timepoint.eq('2')]
scales_t2 = scales_t2.astype(str)

In [31]:
#loop through SR for easy scales 
has_ari=[]
has_eswan_adhd=[]
has_eswan_dmdd=[]

for index, row in scales_t2.iterrows():
    for t in t2_enroll:
        if (t in row['bblid']) and ('2' in (row['ari_collateral_complete'])):
            has_ari.append(t)
        if (t in row['bblid']) and ('2' in (row['eswan_adhd_collateral_complete'])):
            has_eswan_adhd.append(t)
        if (t in row['bblid']) and ('2' in (row['eswan_dmdd_collateral_complete'])):
            has_eswan_dmdd.append(t)

In [32]:
audit2 = pd.DataFrame (t2_enroll, columns = ['BBLID'])
print(len(audit2))

37

In [33]:
ari=[]
eswan_adhd=[]
eswan_dmdd=[]

for val in audit2.values:
    if val in has_ari:
        ari.append(1)
    if val not in has_ari:
        ari.append(0)
    if val in has_eswan_adhd:
        eswan_adhd.append(1)
    if val not in has_eswan_adhd:
        eswan_adhd.append(0)
    if val in has_eswan_dmdd:
        eswan_dmdd.append(1)
    if val not in has_eswan_dmdd:
        eswan_dmdd.append(0)

In [34]:
audit2['ari']=ari
audit2['eswan_adhd']=eswan_adhd
audit2['eswan_dmdd']=eswan_dmdd

In [35]:
audit2.head(n=5)

   BBLID  ari  eswan_adhd  eswan_dmdd
0  20139    1           1           1
1  20149    1           1           1
2  20188    1           1           1
3  20214    1           1           1
4  20238    0           0           0

In [37]:
audit2.to_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/audits/EF_T2_collateral_SR_audit.csv', sep = ',', index=False)