In [1]:
import pandas as pd

In [2]:
#read in T1 enrollment
axis_t1=pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/axis_enroll_t1.csv',dtype=str)
#axis_t1=axis_t1.drop(columns=['scan_1_date'])
#axis_t1

In [3]:
#reformat 
t1_enroll=axis_t1['bblid']
t1_enroll=t1_enroll.tolist()
t1_enroll = [str(t) for t in t1_enroll]

In [4]:
#read in other relevant data
t1_ages = pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/flywheel_ages_t1.csv', dtype=str)#calculated from flywheel date of acq + sub birthday
fam_id=pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/oracle_fam_ids.csv', dtype=str) #pulled by Lan from oracle 
oracle_demos=pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/oracle_demos.csv', dtype=str) #pulled from study visit demos 
axis_demos=pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/axis_demos.csv', dtype=str) #pulled from axis tracker
libi_demos = pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/oracle_demos_LIBI.csv', dtype=str)#calculated from flywheel date of acq + sub birthday

In [6]:
#add age at scan 
t1_demos= pd.merge(axis_t1, t1_ages, how='left', on='bblid')

In [7]:
#add family id's 
t1_demos= pd.merge(t1_demos, fam_id, how='left', left_on='bblid', right_on='BBLID')

In [8]:
#add in basic demo information from axis trackerr 
t1_demos=pd.merge(t1_demos, axis_demos, how='left', on='bblid')

In [9]:
#and now for some light reformatting 
t1_demos=t1_demos.rename(columns={"FAMID": "family_id"})
t1_demos=t1_demos.drop(columns=['BBLID', 'PROTOCOL','redcap_id','scanvisit_t1_status','scan_id_timepoint_1'])

In [10]:
t1_demos=t1_demos.drop_duplicates()

In [13]:
t1_demos=t1_demos.drop(columns=['scan_1_date'])

In [14]:
t1_demos.head(n=5)

,bblid,scanid_t1,age_at_scan_years,age_at_scan_months,family_id,study_group,sex,race,ethnicity
0,19861,11012,15,183,7049,ADHD,1,1,1
2,20124,10960,11,141,7245,TD,2,2,2
3,20125,10959,13,163,7245,PS,1,2,2
4,20139,11138,14,171,7253,TD,2,1,2
6,20141,11000,14,177,2264,TD,2,2,3

In [15]:
t1_demos.to_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/outputs/EF_T1_basic_demos.csv', sep = ',', index=False)

In [43]:
#read in T1 enrollment
axis_t2=pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/axis_enroll_t2.csv',dtype=str)
#axis_t1=axis_t1.drop(columns=['scan_1_date'])
#axis_t1

In [44]:
#reformat 
t2_enroll=axis_t2['bblid']
t2_enroll=t2_enroll.tolist()
t2_enroll = [str(t) for t in t2_enroll]

In [45]:
#read in additional data
t2_ages = pd.read_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/inputs/flywheel_ages_t2.csv', dtype=str)#calculated from flywheel date of acq + sub birthday

In [46]:
#add age at scan 
t2_demos= pd.merge(axis_t2, t2_ages, how='left', on='bblid')

In [47]:
#add family id's 
t2_demos= pd.merge(t2_demos, fam_id, how='left', left_on='bblid', right_on='BBLID')

In [48]:
#add in basic demo information from axis trackerr 
t2_demos=pd.merge(t2_demos, axis_demos, how='left', on='bblid')

In [49]:
#and now for some light reformatting 
t2_demos=t2_demos.rename(columns={"FAMID": "family_id"})
t2_demos=t2_demos.drop(columns=['BBLID', 'PROTOCOL','redcap_id','scan_id_t2', 'scan_2_date'])

In [50]:
t2_demos=t2_demos.drop_duplicates()

In [51]:
t2_demos.head(n=5)

,bblid,scanid_t2,age_at_scan_years,age_at_scan_months,family_id,study_group,sex,race,ethnicity,scanvisit_t1_status
0,20139,11657,16,196,7253,TD,2,1,2,1
2,20149,11831,14,172,7261,TD,1,2,2,1
4,20188,11594,15,183,7285,ADHD,1,1,2,1
6,20214,11659,16,195,7301,PS,2,1,2,1
8,20238,11612,14,176,7314,PS,2,2,2,1

In [52]:
t2_demos.to_csv('/Volumes/Coordinators/Protocols/TED_PROTOCOLS/EXECUTIVE_829744/2022_data_freeze/outputs/EF_T2_basic_demos.csv', sep = ',', index=False)

In [107]:
oracle_demos

,BBLID,DOVISIT,PROTOCOL,COLLECTBY,BMI,MEASURE_WAY,EDUC,OCCODE,OCCODE_HX,SMOKE,...,NOSISTER,B_ORDER_SUB,NOHALF_BROTHER,NOHALF_SISTER,MOM_EDUC,MOM_OCCODE,MOM_OCCODE_HX,DAD_EDUC,DAD_OCCODE,DAD_OCCODE_HX
0,19861,11/8/18,829744 - EFR01,krmurtha,19,NaN,10,20,NaN,2,...,NaN,2,NaN,NaN,14,1,administrative assistant,16,1,management
1,19861,4/19/22,829744 - EFR01,kahinim,19,NaN,13,4,NaN,2,...,NaN,2,NaN,NaN,14,1,administrative assistant,16,1,management
2,20005,11/8/18,829744 - EFR01,krmurtha,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20124,9/20/18,829744 - EFR01,sagerush,NaN,NaN,5,NaN,NaN,NaN,...,0,2,NaN,2,13,NaN,NaN,12,NaN,NaN
4,20125,9/20/18,829744 - EFR01,sagerush,NaN,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13,NaN,NaN,12,NaN,NaN
5,20139,1/18/19,829744 - EFR01,krmurtha,17.03,NaN,7,20,student,2,...,0,1,0,0,20,2,COLLEGE PROFESSOR,16,2,ARTIST
6,20141,10/26/18,829744 - EFR01,diegodav,19.58,NaN,8,NaN,NaN,2,...,1,NaN,NaN,NaN,16,NaN,NaN,20,NaN,NaN
7,20149,7/19/21,829744 - EFR01,linguiti,37.76,NaN,8,20,Student,2,...,1,1,1,0,13,2,Salon Owner,12,14,Truck Driver
8,20149,10/29/18,829744 - EFR01,diegodav,32.72,NaN,5,20,Student,2,...,1,1,1,0,13,2,Salon Owner,12,14,Truck Driver
9,20150,10/29/18,829744 - EFR01,diegodav,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,20188,12/2/20,829744 - EFR01,linguiti,20.12,NaN,9,20,NaN,2,...,0,3,NaN,NaN,20,2,lawyer,18,NaN,Supply Chain Analyst
11,20188,1/21/19,829744 - EFR01,krmurtha,20.12,NaN,7,20,NaN,2,...,0,3,NaN,NaN,18,NaN,lawyer,18,NaN,NaN
12,20190,12/17/18,829744 - EFR01,krmurtha,18.02,NaN,2,20,NaN,2,...,0,1,2,0,18,NaN,Interpreter in hospitals,16,NaN,Opera Singer
13,20214,2/20/21,829744 - EFR01,krmurtha,15.45,NaN,9,20,NaN,2,...,1,2,0,0,16,2,Campus Ministry - Bridges International,16,2,Campus Ministry - Bridges International
14,20214,1/9/19,829744 - EFR01,krmurtha,15.45,NaN,7,20,NaN,2,...,1,2,0,0,16,2,Campus Ministry - Bridges International,16,2,Campus Ministry - Bridges International
15,20236,11/16/18,829744 - EFR01,krmurtha,17.16,NaN,4,20,NaN,2,...,0,1,5,2,18,2,Non-profit,18,NaN,Academia/Professor
16,20238,12/15/20,829744 - EFR01,linguiti,NaN,NaN,8,20,NaN,2,...,1,2,1,5,16,2,Social Work,12,99,NaN
17,20252,12/14/20,829744 - EFR01,krmurtha,17.72,NaN,10,20,NaN,2,...,3,4,3,2,14,NaN,NaN,15,NaN,NaN
18,20258,11/16/20,829744 - EFR01,linguiti,21.79,NaN,10,20,NaN,2,...,0,5,5,1,13,15,Housekeeper,12,4,Post office
19,20259,7/13/21,829744 - EFR01,linguiti,11.51,NaN,5,NaN,NaN,2,...,1,1,0,0,14,18,homemaker,16,16,fireman
20,20259,1/11/19,829744 - EFR01,kpiiwaa,11.51,NaN,4,NaN,NaN,2,...,1,1,NaN,NaN,14,18,homemaker,16,16,fireman
21,20287,6/15/19,829744 - EFR01,krmurtha,20.5,NaN,8,20,NaN,2,...,2,4,5,0,11,7,childcare,12,9,chef
22,20295,6/15/19,829744 - EFR01,diegodav,NaN,NaN,8,20,NaN,2,...,NaN,4,3,NaN,12,1,works for school board of philadelphia,12,12,welding
23,20302,12/12/20,829744 - EFR01,linguiti,NaN,NaN,7,20,NaN,2,...,0,3,0,0,20,1,Professor,20,1,Professot
24,20303,3/24/19,829744 - EFR01,krmurtha,NaN,NaN,10,20,student,2,...,0,2,0,0,20,NaN,professor,20,NaN,professor
25,20303,12/12/20,829744 - EFR01,linguiti,NaN,NaN,11,20,student,2,...,0,2,0,0,20,NaN,professor,20,NaN,professor
26,20305,12/19/18,829744 - EFR01,diegodav,24.37,NaN,9,20,student,2,...,2,5,0,0,NaN,9,food service,NaN,16,army
27,20310,1/22/21,829744 - EFR01,linguiti,28.12,NaN,4,NaN,NaN,NaN,...,0,NaN,3,1,12,7,Caregiver,12,5,Fast food
28,20328,3/24/19,829744 - EFR01,krmurtha,28.34,NaN,7,20,student,2,...,1,2,0,0,16,2,Journalist,16,2,owns a restaurant
29,20328,3/6/21,829744 - EFR01,linguiti,28.34,NaN,8,20,student,2,...,1,2,0,0,16,2,Journalist,16,2,owns a restaurant
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,21493,6/15/21,829744 - EFR01,zeehuque,NaN,NaN,7,NaN,NaN,2,...,0,1,3,0,12,2,NURSING,12,21,UNEMPLOYED
124,21514,6/22/21,829744 - EFR01,zeehuque,NaN,NaN,7,20,NaN,2,...,NaN,NaN,4,5,12,NaN,home health aid,12,NaN,construction worker
125,21516,4/19/21,829744 - EFR01,linguiti,16.16,NaN,4,20,student,NaN,...,0,2,0,0,12,1,cafe manager,9,99,NaN
126,21539,4/9/21,829744 - EFR01,linguiti,21.81,NaN,4,20,student,NaN,...,2,3,0,0,20,20,physician,20,20,physician
127,21553,4/15/21,829744 - EFR01,linguiti,NaN,NaN,4,20,student,NaN,...,1,2,0,0,14,18,homemaker,16,8,fireman
128,21554,4/15/21,829744 - EFR01,linguiti,15.02,NaN,2,20,student,NaN,...,0,3,0,0,14,NaN,NaN,16,NaN,NaN
129,21567,4/24/21,829744 - EFR01,linguiti,24.18,NaN,6,20,student,NaN,...,2,2,0,0,20,2,NaN,20,2,NaN
130,21568,4/20/21,829744 - EFR01,linguiti,14.63,NaN,6,20,student,NaN,...,0,3,0,0,18,2,high school counselor,16,4,IT
131,21623,5/26/21,829744 - EFR01,zeehuque,17.37,NaN,6,20,student,NaN,...,0,2,0,0,20,2,physician,20,2,physician
132,21712,6/28/21,829744 - EFR01,krmurtha,NaN,NaN,5,NaN,NaN,2,...,1,1,0,0,18,NaN,hydrogeologist,18,NaN,geologist
133,21713,6/30/21,829744 - EFR01,zeehuque,14.64,NaN,3,NaN,NaN,2,...,1,2,0,0,18,NaN,hydrogeologist,18,NaN,geologist
134,21713,6/28/21,829744 - EFR01,krmurtha,14.64,NaN,3,NaN,NaN,2,...,1,2,0,0,18,NaN,hydrogeologist,18,NaN,geologist
135,21738,8/4/21,829744 - EFR01,zeehuque,NaN,NaN,7,20,NaN,2,...,2,2,2,2,14,2,nurse,18,NaN,officer
136,21797,8/10/21,829744 - EFR01,linguiti,17.75,NaN,7,20,student,2,...,0,3,0,0,20,2,professor,20,2,professor
137,21827,7/19/21,829744 - EFR01,krmurtha,23.51,NaN,8,20,student,NaN,...,1,1,0,0,20,2,health teacher,18,3,movie industry
138,21856,7/22/21,829744 - EFR01,krmurtha,21.79,NaN,6,20,student,2,...,2,3,NaN,NaN,17,NaN,NaN,17,2,software
139,22064,12/1/21,829744 - EFR01,linguiti,29.01,Self-report,7,20,NaN,NaN,...,0,NaN,0,2,14,2,aircraft fueler,11,4,construction
140,22169,10/1/21,829744 - EFR01,zeehuque,17.76,NaN,7,NaN,NaN,2,...,1,2,3,2,18,NaN,director at brightside academy,12,NaN,"computer technician, now heavy equipment opera..."
141,22473,3/12/22,829744 - EFR01,kahinim,NaN,Self-report,8,20,student,NaN,...,1,2,0,0,16,NaN,part time support system tutor,12,NaN,subcontractor
142,22510,2/2/22,829744 - EFR01,linguiti,16.3,NaN,8,NaN,NaN,2,...,1,1,NaN,NaN,12,18,NaN,18,NaN,child welfare
143,22520,2/11/22,829744 - EFR01,linguiti,NaN,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12,4,Amazon Warehouse,NaN,NaN,NaN
144,22617,2/25/22,829744 - EFR01,krmurtha,NaN,Self-report,7,20,student,NaN,...,0,1,NaN,NaN,20,2,scientist,18,2,software engineer
145,22618,2/25/22,829744 - EFR01,krmurtha,NaN,Self-report,5,20,student,NaN,...,0,2,0,0,20,2,scientist,18,2,software engineer
146,22653,3/18/22,829744 - EFR01,linguiti,NaN,NaN,3,20,student,NaN,...,1,3,0,0,18,1,management leadership,18,2,engineerr
147,22654,3/18/22,829744 - EFR01,linguiti,NaN,Self-report,8,20,student,NaN,...,1,2,0,0,18,1,management leadership,18,2,engineer
148,22745,3/8/22,829744 - EFR01,zeehuque,NaN,NaN,3,NaN,NaN,NaN,...,1,NaN,NaN,NaN,12,NaN,"PT pharmacist, FT front desk",16,NaN,software management
149,22870,4/13/22,829744 - EFR01,mokrall,45.77,N,3,20,NaN,NaN,...,0,NaN,1,2,11,9,cashier housekeeper,12,99,street pharmacist
150,23113,4/15/22,829744 - EFR01,krmurtha,174.53,Self-report,1,20,NaN,NaN,...,2,2,0,1,14,2,CNA,14,2,civil engineer
151,138950,9/14/20,829744 - EFR01,linguiti,NaN,NaN,10,20,NaN,2,...,NaN,1,NaN,NaN,13,9,Hairstylist,13,9,Cook
152,138950,4/11/22,829744 - EFR01,kahinim,NaN,Self-report,11,NaN,NaN,2,...,NaN,1,NaN,NaN,14,9,Hairstylist,12,9,Cook

In [108]:
for col in oracle_demos.columns:
    print(col)

BBLID
DOVISIT
PROTOCOL
COLLECTBY
BMI
MEASURE_WAY
EDUC
OCCODE
OCCODE_HX
SMOKE
CIGARS_A_DAY
SMOKE_AGE_S
EVERSMOKE
EVERSMOKE_AGE_S
EVERSMOKE_AGE_E
NOBROTHER
NOSISTER
B_ORDER_SUB
NOHALF_BROTHER
NOHALF_SISTER
MOM_EDUC
MOM_OCCODE
MOM_OCCODE_HX
DAD_EDUC
DAD_OCCODE
DAD_OCCODE_HX

In [109]:
#get rid of collat demos from oracle
oracle_demos=oracle_demos[oracle_demos['BBLID'].isin(t1_enroll)]
#oracle_demos

In [110]:
oracle_demos

,BBLID,DOVISIT,PROTOCOL,COLLECTBY,BMI,MEASURE_WAY,EDUC,OCCODE,OCCODE_HX,SMOKE,...,NOSISTER,B_ORDER_SUB,NOHALF_BROTHER,NOHALF_SISTER,MOM_EDUC,MOM_OCCODE,MOM_OCCODE_HX,DAD_EDUC,DAD_OCCODE,DAD_OCCODE_HX
0,19861,11/8/18,829744 - EFR01,krmurtha,19,NaN,10,20,NaN,2,...,NaN,2,NaN,NaN,14,1,administrative assistant,16,1,management
1,19861,4/19/22,829744 - EFR01,kahinim,19,NaN,13,4,NaN,2,...,NaN,2,NaN,NaN,14,1,administrative assistant,16,1,management
3,20124,9/20/18,829744 - EFR01,sagerush,NaN,NaN,5,NaN,NaN,NaN,...,0,2,NaN,2,13,NaN,NaN,12,NaN,NaN
4,20125,9/20/18,829744 - EFR01,sagerush,NaN,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13,NaN,NaN,12,NaN,NaN
5,20139,1/18/19,829744 - EFR01,krmurtha,17.03,NaN,7,20,student,2,...,0,1,0,0,20,2,COLLEGE PROFESSOR,16,2,ARTIST
6,20141,10/26/18,829744 - EFR01,diegodav,19.58,NaN,8,NaN,NaN,2,...,1,NaN,NaN,NaN,16,NaN,NaN,20,NaN,NaN
7,20149,7/19/21,829744 - EFR01,linguiti,37.76,NaN,8,20,Student,2,...,1,1,1,0,13,2,Salon Owner,12,14,Truck Driver
8,20149,10/29/18,829744 - EFR01,diegodav,32.72,NaN,5,20,Student,2,...,1,1,1,0,13,2,Salon Owner,12,14,Truck Driver
10,20188,12/2/20,829744 - EFR01,linguiti,20.12,NaN,9,20,NaN,2,...,0,3,NaN,NaN,20,2,lawyer,18,NaN,Supply Chain Analyst
11,20188,1/21/19,829744 - EFR01,krmurtha,20.12,NaN,7,20,NaN,2,...,0,3,NaN,NaN,18,NaN,lawyer,18,NaN,NaN
12,20190,12/17/18,829744 - EFR01,krmurtha,18.02,NaN,2,20,NaN,2,...,0,1,2,0,18,NaN,Interpreter in hospitals,16,NaN,Opera Singer
13,20214,2/20/21,829744 - EFR01,krmurtha,15.45,NaN,9,20,NaN,2,...,1,2,0,0,16,2,Campus Ministry - Bridges International,16,2,Campus Ministry - Bridges International
14,20214,1/9/19,829744 - EFR01,krmurtha,15.45,NaN,7,20,NaN,2,...,1,2,0,0,16,2,Campus Ministry - Bridges International,16,2,Campus Ministry - Bridges International
15,20236,11/16/18,829744 - EFR01,krmurtha,17.16,NaN,4,20,NaN,2,...,0,1,5,2,18,2,Non-profit,18,NaN,Academia/Professor
16,20238,12/15/20,829744 - EFR01,linguiti,NaN,NaN,8,20,NaN,2,...,1,2,1,5,16,2,Social Work,12,99,NaN
17,20252,12/14/20,829744 - EFR01,krmurtha,17.72,NaN,10,20,NaN,2,...,3,4,3,2,14,NaN,NaN,15,NaN,NaN
18,20258,11/16/20,829744 - EFR01,linguiti,21.79,NaN,10,20,NaN,2,...,0,5,5,1,13,15,Housekeeper,12,4,Post office
19,20259,7/13/21,829744 - EFR01,linguiti,11.51,NaN,5,NaN,NaN,2,...,1,1,0,0,14,18,homemaker,16,16,fireman
20,20259,1/11/19,829744 - EFR01,kpiiwaa,11.51,NaN,4,NaN,NaN,2,...,1,1,NaN,NaN,14,18,homemaker,16,16,fireman
21,20287,6/15/19,829744 - EFR01,krmurtha,20.5,NaN,8,20,NaN,2,...,2,4,5,0,11,7,childcare,12,9,chef
22,20295,6/15/19,829744 - EFR01,diegodav,NaN,NaN,8,20,NaN,2,...,NaN,4,3,NaN,12,1,works for school board of philadelphia,12,12,welding
23,20302,12/12/20,829744 - EFR01,linguiti,NaN,NaN,7,20,NaN,2,...,0,3,0,0,20,1,Professor,20,1,Professot
24,20303,3/24/19,829744 - EFR01,krmurtha,NaN,NaN,10,20,student,2,...,0,2,0,0,20,NaN,professor,20,NaN,professor
25,20303,12/12/20,829744 - EFR01,linguiti,NaN,NaN,11,20,student,2,...,0,2,0,0,20,NaN,professor,20,NaN,professor
26,20305,12/19/18,829744 - EFR01,diegodav,24.37,NaN,9,20,student,2,...,2,5,0,0,NaN,9,food service,NaN,16,army
27,20310,1/22/21,829744 - EFR01,linguiti,28.12,NaN,4,NaN,NaN,NaN,...,0,NaN,3,1,12,7,Caregiver,12,5,Fast food
28,20328,3/24/19,829744 - EFR01,krmurtha,28.34,NaN,7,20,student,2,...,1,2,0,0,16,2,Journalist,16,2,owns a restaurant
29,20328,3/6/21,829744 - EFR01,linguiti,28.34,NaN,8,20,student,2,...,1,2,0,0,16,2,Journalist,16,2,owns a restaurant
30,20333,2/14/19,829744 - EFR01,krmurtha,21.4,NaN,7,NaN,NaN,2,...,1,1,1,3,9,NaN,NaN,10,NaN,Manager at Burger King
31,20335,2/14/19,829744 - EFR01,krmurtha,20.68,NaN,3,20,NaN,2,...,4,6,NaN,NaN,9,NaN,student righ now,11,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,21457,3/10/21,829744 - EFR01,krmurtha,NaN,NaN,3,20,student,NaN,...,0,NaN,4,1,14,6,customer service rep,12,2,barber
123,21493,6/15/21,829744 - EFR01,zeehuque,NaN,NaN,7,NaN,NaN,2,...,0,1,3,0,12,2,NURSING,12,21,UNEMPLOYED
124,21514,6/22/21,829744 - EFR01,zeehuque,NaN,NaN,7,20,NaN,2,...,NaN,NaN,4,5,12,NaN,home health aid,12,NaN,construction worker
125,21516,4/19/21,829744 - EFR01,linguiti,16.16,NaN,4,20,student,NaN,...,0,2,0,0,12,1,cafe manager,9,99,NaN
126,21539,4/9/21,829744 - EFR01,linguiti,21.81,NaN,4,20,student,NaN,...,2,3,0,0,20,20,physician,20,20,physician
127,21553,4/15/21,829744 - EFR01,linguiti,NaN,NaN,4,20,student,NaN,...,1,2,0,0,14,18,homemaker,16,8,fireman
128,21554,4/15/21,829744 - EFR01,linguiti,15.02,NaN,2,20,student,NaN,...,0,3,0,0,14,NaN,NaN,16,NaN,NaN
129,21567,4/24/21,829744 - EFR01,linguiti,24.18,NaN,6,20,student,NaN,...,2,2,0,0,20,2,NaN,20,2,NaN
130,21568,4/20/21,829744 - EFR01,linguiti,14.63,NaN,6,20,student,NaN,...,0,3,0,0,18,2,high school counselor,16,4,IT
131,21623,5/26/21,829744 - EFR01,zeehuque,17.37,NaN,6,20,student,NaN,...,0,2,0,0,20,2,physician,20,2,physician
132,21712,6/28/21,829744 - EFR01,krmurtha,NaN,NaN,5,NaN,NaN,2,...,1,1,0,0,18,NaN,hydrogeologist,18,NaN,geologist
133,21713,6/30/21,829744 - EFR01,zeehuque,14.64,NaN,3,NaN,NaN,2,...,1,2,0,0,18,NaN,hydrogeologist,18,NaN,geologist
134,21713,6/28/21,829744 - EFR01,krmurtha,14.64,NaN,3,NaN,NaN,2,...,1,2,0,0,18,NaN,hydrogeologist,18,NaN,geologist
135,21738,8/4/21,829744 - EFR01,zeehuque,NaN,NaN,7,20,NaN,2,...,2,2,2,2,14,2,nurse,18,NaN,officer
136,21797,8/10/21,829744 - EFR01,linguiti,17.75,NaN,7,20,student,2,...,0,3,0,0,20,2,professor,20,2,professor
137,21827,7/19/21,829744 - EFR01,krmurtha,23.51,NaN,8,20,student,NaN,...,1,1,0,0,20,2,health teacher,18,3,movie industry
138,21856,7/22/21,829744 - EFR01,krmurtha,21.79,NaN,6,20,student,2,...,2,3,NaN,NaN,17,NaN,NaN,17,2,software
139,22064,12/1/21,829744 - EFR01,linguiti,29.01,Self-report,7,20,NaN,NaN,...,0,NaN,0,2,14,2,aircraft fueler,11,4,construction
140,22169,10/1/21,829744 - EFR01,zeehuque,17.76,NaN,7,NaN,NaN,2,...,1,2,3,2,18,NaN,director at brightside academy,12,NaN,"computer technician, now heavy equipment opera..."
141,22473,3/12/22,829744 - EFR01,kahinim,NaN,Self-report,8,20,student,NaN,...,1,2,0,0,16,NaN,part time support system tutor,12,NaN,subcontractor
142,22510,2/2/22,829744 - EFR01,linguiti,16.3,NaN,8,NaN,NaN,2,...,1,1,NaN,NaN,12,18,NaN,18,NaN,child welfare
143,22520,2/11/22,829744 - EFR01,linguiti,NaN,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12,4,Amazon Warehouse,NaN,NaN,NaN
144,22617,2/25/22,829744 - EFR01,krmurtha,NaN,Self-report,7,20,student,NaN,...,0,1,NaN,NaN,20,2,scientist,18,2,software engineer
145,22618,2/25/22,829744 - EFR01,krmurtha,NaN,Self-report,5,20,student,NaN,...,0,2,0,0,20,2,scientist,18,2,software engineer
146,22653,3/18/22,829744 - EFR01,linguiti,NaN,NaN,3,20,student,NaN,...,1,3,0,0,18,1,management leadership,18,2,engineerr
147,22654,3/18/22,829744 - EFR01,linguiti,NaN,Self-report,8,20,student,NaN,...,1,2,0,0,18,1,management leadership,18,2,engineer
148,22745,3/8/22,829744 - EFR01,zeehuque,NaN,NaN,3,NaN,NaN,NaN,...,1,NaN,NaN,NaN,12,NaN,"PT pharmacist, FT front desk",16,NaN,software management
149,22870,4/13/22,829744 - EFR01,mokrall,45.77,N,3,20,NaN,NaN,...,0,NaN,1,2,11,9,cashier housekeeper,12,99,street pharmacist
151,138950,9/14/20,829744 - EFR01,linguiti,NaN,NaN,10,20,NaN,2,...,NaN,1,NaN,NaN,13,9,Hairstylist,13,9,Cook
152,138950,4/11/22,829744 - EFR01,kahinim,NaN,Self-report,11,NaN,NaN,2,...,NaN,1,NaN,NaN,14,9,Hairstylist,12,9,Cook

In [112]:
t1_test=t1_enroll[:1]
print(t1_test)

['19861']

In [117]:
for t in t1_test:
    for index, row in oracle_demos.iterrows():
        #print(index, row)
        if (t in row['BBLID']):
            print(row)

BBLID                                 19861
DOVISIT                             11/8/18
PROTOCOL                     829744 - EFR01
COLLECTBY                          krmurtha
BMI                                      19
MEASURE_WAY                             NaN
EDUC                                     10
OCCODE                                   20
OCCODE_HX                               NaN
SMOKE                                     2
CIGARS_A_DAY                            NaN
SMOKE_AGE_S                             NaN
EVERSMOKE                                 2
EVERSMOKE_AGE_S                         NaN
EVERSMOKE_AGE_E                         NaN
NOBROTHER                                 1
NOSISTER                                NaN
B_ORDER_SUB                               2
NOHALF_BROTHER                          NaN
NOHALF_SISTER                           NaN
MOM_EDUC                                 14
MOM_OCCODE                                1
MOM_OCCODE_HX      administrative assistant
DAD_EDUC                                 16
DAD_OCCODE                                1
DAD_OCCODE_HX                    management
Name: 0, dtype: object
BBLID                                 19861
DOVISIT                             4/19/22
PROTOCOL                     829744 - EFR01
COLLECTBY                           kahinim
BMI                                      19
MEASURE_WAY                             NaN
EDUC                                     13
OCCODE                                    4
OCCODE_HX                               NaN
SMOKE                                     2
CIGARS_A_DAY                            NaN
SMOKE_AGE_S                             NaN
EVERSMOKE                                 2
EVERSMOKE_AGE_S                         NaN
EVERSMOKE_AGE_E                         NaN
NOBROTHER                                 1
NOSISTER                                NaN
B_ORDER_SUB                               2
NOHALF_BROTHER                          NaN
NOHALF_SISTER                           NaN
MOM_EDUC                                 14
MOM_OCCODE                                1
MOM_OCCODE_HX      administrative assistant
DAD_EDUC                                 16
DAD_OCCODE                                1
DAD_OCCODE_HX                    management
Name: 1, dtype: object

In [ ]:
if (t in row['bblid']):
            if row['DOVISIT']
            
            and ('2' in (row['stai_state_complete'])):
            #print(t, "state!!")
            hasSTATE.append(t)
        if (t in row['bblid']) and ('2' in (row['stai_trait_complete'])):
            hasTRAIT.append(t)

In [ ]:
for index, row in oracle_demos.iterrows():
    for t in t1_enroll:
        if (t in row['bblid']):
            if row['DOVISIT']
            
            and ('2' in (row['stai_state_complete'])):
            #print(t, "state!!")
            hasSTATE.append(t)
        if (t in row['bblid']) and ('2' in (row['stai_trait_complete'])):
            hasTRAIT.append(t)

In [61]:
#reformat scan date 
axis_t1['scan_1_date'] = pd.to_datetime(axis_t1.scan_1_date)
axis_t1['scan_1_date'] = axis_t1['scan_1_date'].dt.strftime('%m/%d/%Y')
#print (axis_t1)

In [11]:
#get rid of collat demos from oracle
oracle_demos=oracle_demos[oracle_demos['BBLID'].isin(t1_enroll)]
#oracle_demos

In [12]:
#reformat scan date 
oracle_demos['DOVISIT'] = pd.to_datetime(oracle_demos.DOVISIT)
oracle_demos['DOVISIT'] = oracle_demos['DOVISIT'].dt.strftime('%m/%d/%Y')
#oracle_demos

In [13]:
#merge t1 enroll + oracle demos on scan date to effectively separate into T1/T2 (SOME WILL BE MISSING)
oracle_demos_t1=pd.merge(axis_t1, oracle_demos, left_on="scan_1_date", right_on="DOVISIT")
oracle_demos_t1

,bblid,scan_id_timepoint_1,scan_1_date,BBLID,DOVISIT,PROTOCOL,COLLECTBY,BMI,MEASURE_WAY,EDUC,...,NOSISTER,B_ORDER_SUB,NOHALF_BROTHER,NOHALF_SISTER,MOM_EDUC,MOM_OCCODE,MOM_OCCODE_HX,DAD_EDUC,DAD_OCCODE,DAD_OCCODE_HX
0,19861,11012,11/08/2018,19861,11/08/2018,829744 - EFR01,krmurtha,19,NaN,10,...,NaN,2,NaN,NaN,14,1,administrative assistant,16,1,management
1,20124,10960,09/20/2018,20124,09/20/2018,829744 - EFR01,sagerush,NaN,NaN,5,...,0,2,NaN,2,13,NaN,NaN,12,NaN,NaN
2,20124,10960,09/20/2018,20125,09/20/2018,829744 - EFR01,sagerush,NaN,NaN,7,...,NaN,NaN,NaN,NaN,13,NaN,NaN,12,NaN,NaN
3,20139,11138,01/18/2019,20139,01/18/2019,829744 - EFR01,krmurtha,17.03,NaN,7,...,0,1,0,0,20,2,COLLEGE PROFESSOR,16,2,ARTIST
4,20141,11000,10/26/2018,20141,10/26/2018,829744 - EFR01,diegodav,19.58,NaN,8,...,1,NaN,NaN,NaN,16,NaN,NaN,20,NaN,NaN
5,20149,11003,10/29/2018,20149,10/29/2018,829744 - EFR01,diegodav,32.72,NaN,5,...,1,1,1,0,13,2,Salon Owner,12,14,Truck Driver
6,20188,11140,01/21/2019,20188,01/21/2019,829744 - EFR01,krmurtha,20.12,NaN,7,...,0,3,NaN,NaN,18,NaN,lawyer,18,NaN,NaN
7,20252,11143,01/21/2019,20188,01/21/2019,829744 - EFR01,krmurtha,20.12,NaN,7,...,0,3,NaN,NaN,18,NaN,lawyer,18,NaN,NaN
8,20253,11142,01/21/2019,20188,01/21/2019,829744 - EFR01,krmurtha,20.12,NaN,7,...,0,3,NaN,NaN,18,NaN,lawyer,18,NaN,NaN
9,20190,11115,12/17/2018,20190,12/17/2018,829744 - EFR01,krmurtha,18.02,NaN,2,...,0,1,2,0,18,NaN,Interpreter in hospitals,16,NaN,Opera Singer
10,20212,11209,03/24/2019,20303,03/24/2019,829744 - EFR01,krmurtha,NaN,NaN,10,...,0,2,0,0,20,NaN,professor,20,NaN,professor
11,20212,11209,03/24/2019,20328,03/24/2019,829744 - EFR01,krmurtha,28.34,NaN,7,...,1,2,0,0,16,2,Journalist,16,2,owns a restaurant
12,20302,11208,03/24/2019,20303,03/24/2019,829744 - EFR01,krmurtha,NaN,NaN,10,...,0,2,0,0,20,NaN,professor,20,NaN,professor
13,20302,11208,03/24/2019,20328,03/24/2019,829744 - EFR01,krmurtha,28.34,NaN,7,...,1,2,0,0,16,2,Journalist,16,2,owns a restaurant
14,20303,11206,03/24/2019,20303,03/24/2019,829744 - EFR01,krmurtha,NaN,NaN,10,...,0,2,0,0,20,NaN,professor,20,NaN,professor
15,20303,11206,03/24/2019,20328,03/24/2019,829744 - EFR01,krmurtha,28.34,NaN,7,...,1,2,0,0,16,2,Journalist,16,2,owns a restaurant
16,20328,11207,03/24/2019,20303,03/24/2019,829744 - EFR01,krmurtha,NaN,NaN,10,...,0,2,0,0,20,NaN,professor,20,NaN,professor
17,20328,11207,03/24/2019,20328,03/24/2019,829744 - EFR01,krmurtha,28.34,NaN,7,...,1,2,0,0,16,2,Journalist,16,2,owns a restaurant
18,20214,11126,01/09/2019,20214,01/09/2019,829744 - EFR01,krmurtha,15.45,NaN,7,...,1,2,0,0,16,2,Campus Ministry - Bridges International,16,2,Campus Ministry - Bridges International
19,20259,11127,01/11/2019,20259,01/11/2019,829744 - EFR01,kpiiwaa,11.51,NaN,4,...,1,1,NaN,NaN,14,18,homemaker,16,16,fireman
20,20287,11290,06/15/2019,20287,06/15/2019,829744 - EFR01,krmurtha,20.5,NaN,8,...,2,4,5,0,11,7,childcare,12,9,chef
21,20287,11290,06/15/2019,20295,06/15/2019,829744 - EFR01,diegodav,NaN,NaN,8,...,NaN,4,3,NaN,12,1,works for school board of philadelphia,12,12,welding
22,20295,11291,06/15/2019,20287,06/15/2019,829744 - EFR01,krmurtha,20.5,NaN,8,...,2,4,5,0,11,7,childcare,12,9,chef
23,20295,11291,06/15/2019,20295,06/15/2019,829744 - EFR01,diegodav,NaN,NaN,8,...,NaN,4,3,NaN,12,1,works for school board of philadelphia,12,12,welding
24,20572,11289,06/15/2019,20287,06/15/2019,829744 - EFR01,krmurtha,20.5,NaN,8,...,2,4,5,0,11,7,childcare,12,9,chef
25,20572,11289,06/15/2019,20295,06/15/2019,829744 - EFR01,diegodav,NaN,NaN,8,...,NaN,4,3,NaN,12,1,works for school board of philadelphia,12,12,welding
26,20333,11160,02/14/2019,20333,02/14/2019,829744 - EFR01,krmurtha,21.4,NaN,7,...,1,1,1,3,9,NaN,NaN,10,NaN,Manager at Burger King
27,20333,11160,02/14/2019,20335,02/14/2019,829744 - EFR01,krmurtha,20.68,NaN,3,...,4,6,NaN,NaN,9,NaN,student righ now,11,NaN,NaN
28,20335,11161,02/14/2019,20333,02/14/2019,829744 - EFR01,krmurtha,21.4,NaN,7,...,1,1,1,3,9,NaN,NaN,10,NaN,Manager at Burger King
29,20335,11161,02/14/2019,20335,02/14/2019,829744 - EFR01,krmurtha,20.68,NaN,3,...,4,6,NaN,NaN,9,NaN,student righ now,11,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,21118,11577,11/07/2020,21193,11/07/2020,829744 - EFR01,linguiti,19.84,NaN,4,...,0,NaN,0,0,14,1,administrative,14,15,labor
82,21193,11576,11/07/2020,21118,11/07/2020,829744 - EFR01,linguiti,15.8,NaN,5,...,0,NaN,1,0,16,9,hospitality,16,2,banker
83,21193,11576,11/07/2020,21193,11/07/2020,829744 - EFR01,linguiti,19.84,NaN,4,...,0,NaN,0,0,14,1,administrative,14,15,labor
84,21139,11640,01/27/2021,21139,01/27/2021,829744 - EFR01,linguiti,15.47,NaN,5,...,0,NaN,0,1,14,1,USPS Clerk,16,12,NaN
85,21141,11574,11/05/2020,21141,11/05/2020,829744 - EFR01,linguiti,NaN,NaN,5,...,1,2,6,0,12,1,supervisor for MR clients,12,17,social security
86,21150,11720,04/13/2021,21150,04/13/2021,829744 - EFR01,linguiti,NaN,NaN,8,...,0,NaN,1,0,15,21,none,12,99,many jobs
87,21154,11492,03/02/2020,21154,03/02/2020,829744 - EFR01,krmurtha,NaN,NaN,4,...,0,NaN,0,0,14,1,communicatoins,12,12,construction
88,21197,11798,06/22/2021,21514,06/22/2021,829744 - EFR01,zeehuque,NaN,NaN,7,...,NaN,NaN,4,5,12,NaN,home health aid,12,NaN,construction worker
89,21224,11625,01/13/2021,21224,01/13/2021,829744 - EFR01,linguiti,31.01,NaN,8,...,1,1,2,0,16,NaN,security officer,12,NaN,roofer
90,21325,11651,02/12/2021,21325,02/12/2021,829744 - EFR01,linguiti,NaN,NaN,3,...,0,NaN,0,1,15,NaN,credential for medical practice,12,8,"military, Peneski"
91,21432,11664,02/22/2021,21432,02/22/2021,829744 - EFR01,linguiti,NaN,NaN,9,...,2,3,2,4,12,4,CNA,11,12,construction
92,21457,11685,03/10/2021,21457,03/10/2021,829744 - EFR01,krmurtha,NaN,NaN,3,...,0,NaN,4,1,14,6,customer service rep,12,2,barber
93,21516,11723,04/19/2021,21516,04/19/2021,829744 - EFR01,linguiti,16.16,NaN,4,...,0,2,0,0,12,1,cafe manager,9,99,NaN
94,21553,11824,07/13/2021,20259,07/13/2021,829744 - EFR01,linguiti,11.51,NaN,5,...,1,1,0,0,14,18,homemaker,16,16,fireman
95,21554,11825,07/13/2021,20259,07/13/2021,829744 - EFR01,linguiti,11.51,NaN,5,...,1,1,0,0,14,18,homemaker,16,16,fireman
96,21797,11862,08/10/2021,21797,08/10/2021,829744 - EFR01,linguiti,17.75,NaN,7,...,0,3,0,0,20,2,professor,20,2,professor
97,21827,11853,08/04/2021,21738,08/04/2021,829744 - EFR01,zeehuque,NaN,NaN,7,...,2,2,2,2,14,2,nurse,18,NaN,officer
98,22064,11981,12/01/2021,22064,12/01/2021,829744 - EFR01,linguiti,29.01,Self-report,7,...,0,NaN,0,2,14,2,aircraft fueler,11,4,construction
99,22473,12097,03/12/2022,20427,03/12/2022,829744 - EFR01,linguiti,22.03,NaN,12,...,0,NaN,1,0,14,4,NaN,NaN,NaN,NaN
100,22473,12097,03/12/2022,22473,03/12/2022,829744 - EFR01,kahinim,NaN,Self-report,8,...,1,2,0,0,16,NaN,part time support system tutor,12,NaN,subcontractor
101,22510,12046,02/02/2022,22510,02/02/2022,829744 - EFR01,linguiti,16.3,NaN,8,...,1,1,NaN,NaN,12,18,NaN,18,NaN,child welfare
102,22520,12057,02/11/2022,22520,02/11/2022,829744 - EFR01,linguiti,NaN,NaN,7,...,NaN,NaN,NaN,NaN,12,4,Amazon Warehouse,NaN,NaN,NaN
103,22670,12508,02/11/2022,22520,02/11/2022,829744 - EFR01,linguiti,NaN,NaN,7,...,NaN,NaN,NaN,NaN,12,4,Amazon Warehouse,NaN,NaN,NaN
104,22617,12080,02/25/2022,22617,02/25/2022,829744 - EFR01,krmurtha,NaN,Self-report,7,...,0,1,NaN,NaN,20,2,scientist,18,2,software engineer
105,22617,12080,02/25/2022,22618,02/25/2022,829744 - EFR01,krmurtha,NaN,Self-report,5,...,0,2,0,0,20,2,scientist,18,2,software engineer
106,22618,12081,02/25/2022,22617,02/25/2022,829744 - EFR01,krmurtha,NaN,Self-report,7,...,0,1,NaN,NaN,20,2,scientist,18,2,software engineer
107,22618,12081,02/25/2022,22618,02/25/2022,829744 - EFR01,krmurtha,NaN,Self-report,5,...,0,2,0,0,20,2,scientist,18,2,software engineer
108,22654,12107,03/18/2022,22653,03/18/2022,829744 - EFR01,linguiti,NaN,NaN,3,...,1,3,0,0,18,1,management leadership,18,2,engineerr
109,22654,12107,03/18/2022,22654,03/18/2022,829744 - EFR01,linguiti,NaN,Self-report,8,...,1,2,0,0,18,1,management leadership,18,2,engineer
110,138950,11533,09/14/2020,138950,09/14/2020,829744 - EFR01,linguiti,NaN,NaN,10,...,NaN,1,NaN,NaN,13,9,Hairstylist,13,9,Cook

In [13]:
for col in oracle_demos_t1.columns:
    print(col)

bblid
scan_id_timepoint_1
scan_1_date
BBLID
DOVISIT
PROTOCOL
COLLECTBY
BMI
MEASURE_WAY
EDUC
OCCODE
OCCODE_HX
SMOKE
CIGARS_A_DAY
SMOKE_AGE_S
EVERSMOKE
EVERSMOKE_AGE_S
EVERSMOKE_AGE_E
NOBROTHER
NOSISTER
B_ORDER_SUB
NOHALF_BROTHER
NOHALF_SISTER
MOM_EDUC
MOM_OCCODE
MOM_OCCODE_HX
DAD_EDUC
DAD_OCCODE
DAD_OCCODE_HX

In [14]:
oracle_demos_t1=oracle_demos_t1.drop(columns=['BBLID','scan_1_date', 'DOVISIT', 'PROTOCOL','COLLECTBY' ])

In [15]:
#merge everything together, format as you go 
demos=pd.merge(oracle_demos_t1,t1_ages, left_on="bblid", right_on="bblid")
#demos=demos.drop(columns=['scan_id_timepoint_1'])
demos

,bblid,scan_id_timepoint_1,BMI,MEASURE_WAY,EDUC,OCCODE,OCCODE_HX,SMOKE,CIGARS_A_DAY,SMOKE_AGE_S,...,NOHALF_SISTER,MOM_EDUC,MOM_OCCODE,MOM_OCCODE_HX,DAD_EDUC,DAD_OCCODE,DAD_OCCODE_HX,scanid_t1,age_in_years,age_in_months
0,19861,11012.0,19.00,NaN,10.0,20.0,NaN,2.0,NaN,NaN,...,NaN,14.0,1.0,administrative assistant,16.0,1.0,management,11012,15,183
1,20124,10960.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,2.0,13.0,NaN,NaN,12.0,NaN,NaN,10960,11,141
2,20124,10960.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,13.0,NaN,NaN,12.0,NaN,NaN,10960,11,141
3,20139,11138.0,17.03,NaN,7.0,20.0,student,2.0,NaN,NaN,...,0.0,20.0,2.0,COLLEGE PROFESSOR,16.0,2.0,ARTIST,11138,14,171
4,20141,11000.0,19.58,NaN,8.0,NaN,NaN,2.0,NaN,NaN,...,NaN,16.0,NaN,NaN,20.0,NaN,NaN,11000,14,177
5,20149,11003.0,32.72,NaN,5.0,20.0,Student,2.0,NaN,NaN,...,0.0,13.0,2.0,Salon Owner,12.0,14.0,Truck Driver,11003,11,139
6,20188,11140.0,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,...,NaN,18.0,NaN,lawyer,18.0,NaN,NaN,11140,13,161
7,20252,11143.0,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,...,NaN,18.0,NaN,lawyer,18.0,NaN,NaN,11143,15,184
8,20253,11142.0,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,...,NaN,18.0,NaN,lawyer,18.0,NaN,NaN,11142,10,130
9,20212,11209.0,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,...,0.0,20.0,NaN,professor,20.0,NaN,professor,11209,9,115
10,20212,11209.0,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,...,0.0,16.0,2.0,Journalist,16.0,2.0,owns a restaurant,11209,9,115
11,20302,11208.0,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,...,0.0,20.0,NaN,professor,20.0,NaN,professor,11208,12,147
12,20302,11208.0,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,...,0.0,16.0,2.0,Journalist,16.0,2.0,owns a restaurant,11208,12,147
13,20303,11206.0,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,...,0.0,20.0,NaN,professor,20.0,NaN,professor,11206,16,192
14,20303,11206.0,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,...,0.0,16.0,2.0,Journalist,16.0,2.0,owns a restaurant,11206,16,192
15,20328,11207.0,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,...,0.0,20.0,NaN,professor,20.0,NaN,professor,11207,13,161
16,20328,11207.0,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,...,0.0,16.0,2.0,Journalist,16.0,2.0,owns a restaurant,11207,13,161
17,20214,11126.0,15.45,NaN,7.0,20.0,NaN,2.0,NaN,NaN,...,0.0,16.0,2.0,Campus Ministry - Bridges International,16.0,2.0,Campus Ministry - Bridges International,11126,14,170
18,20259,11127.0,11.51,NaN,4.0,NaN,NaN,2.0,NaN,NaN,...,NaN,14.0,18.0,homemaker,16.0,16.0,fireman,11127,8,105
19,20287,11290.0,20.50,NaN,8.0,20.0,NaN,2.0,NaN,NaN,...,0.0,11.0,7.0,childcare,12.0,9.0,chef,11290,15,182
20,20287,11290.0,NaN,NaN,8.0,20.0,NaN,2.0,NaN,NaN,...,NaN,12.0,1.0,works for school board of philadelphia,12.0,12.0,welding,11290,15,182
21,20572,11289.0,20.50,NaN,8.0,20.0,NaN,2.0,NaN,NaN,...,0.0,11.0,7.0,childcare,12.0,9.0,chef,11289,11,141
22,20572,11289.0,NaN,NaN,8.0,20.0,NaN,2.0,NaN,NaN,...,NaN,12.0,1.0,works for school board of philadelphia,12.0,12.0,welding,11289,11,141
23,20333,11160.0,21.40,NaN,7.0,NaN,NaN,2.0,NaN,NaN,...,3.0,9.0,NaN,NaN,10.0,NaN,Manager at Burger King,11160,15,181
24,20333,11160.0,20.68,NaN,3.0,20.0,NaN,2.0,NaN,NaN,...,NaN,9.0,NaN,student righ now,11.0,NaN,NaN,11160,15,181
25,20335,11161.0,21.40,NaN,7.0,NaN,NaN,2.0,NaN,NaN,...,3.0,9.0,NaN,NaN,10.0,NaN,Manager at Burger King,11161,9,117
26,20335,11161.0,20.68,NaN,3.0,20.0,NaN,2.0,NaN,NaN,...,NaN,9.0,NaN,student righ now,11.0,NaN,NaN,11161,9,117
27,20347,11132.0,NaN,NaN,6.0,20.0,student,2.0,NaN,NaN,...,2.0,12.0,NaN,healthcare,NaN,9.0,cook,11132,12,148
28,20352,11147.0,15.26,NaN,2.0,20.0,NaN,2.0,NaN,NaN,...,NaN,16.0,NaN,campus minister,16.0,NaN,campus minister,11147,8,105
29,20402,11210.0,NaN,NaN,5.0,20.0,NaN,2.0,NaN,NaN,...,2.0,14.0,18.0,Homemaker,9.0,99.0,Hustler,11210,13,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,21112,11468.0,18.94,NaN,5.0,20.0,NaN,NaN,NaN,NaN,...,3.0,12.0,5.0,retail,NaN,NaN,NaN,11468,12,147
71,21118,11577.0,15.80,NaN,5.0,20.0,NaN,NaN,NaN,NaN,...,0.0,16.0,9.0,hospitality,16.0,2.0,banker,11577,11,138
72,21118,11577.0,19.84,NaN,4.0,20.0,NaN,NaN,NaN,NaN,...,0.0,14.0,1.0,administrative,14.0,15.0,labor,11577,11,138
73,21193,11576.0,15.80,NaN,5.0,20.0,NaN,NaN,NaN,NaN,...,0.0,16.0,9.0,hospitality,16.0,2.0,banker,11576,10,128
74,21193,11576.0,19.84,NaN,4.0,20.0,NaN,NaN,NaN,NaN,...,0.0,14.0,1.0,administrative,14.0,15.0,labor,11576,10,128
75,21139,11640.0,15.47,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,1.0,14.0,1.0,USPS Clerk,16.0,12.0,NaN,11640,11,139
76,21141,11574.0,NaN,NaN,5.0,20.0,NaN,NaN,NaN,NaN,...,0.0,12.0,1.0,supervisor for MR clients,12.0,17.0,social security,11574,11,137
77,21150,11720.0,NaN,NaN,8.0,20.0,student,NaN,NaN,NaN,...,0.0,15.0,21.0,none,12.0,99.0,many jobs,11720,15,180
78,21154,11492.0,NaN,NaN,4.0,20.0,student,NaN,NaN,NaN,...,0.0,14.0,1.0,communicatoins,12.0,12.0,construction,11492,10,130
79,21197,11798.0,NaN,NaN,7.0,20.0,NaN,2.0,NaN,NaN,...,5.0,12.0,NaN,home health aid,12.0,NaN,construction worker,11798,11,133
80,21224,11625.0,31.01,NaN,8.0,20.0,student,NaN,NaN,NaN,...,0.0,16.0,NaN,security officer,12.0,NaN,roofer,11625,14,177
81,21325,11651.0,NaN,NaN,3.0,20.0,student,NaN,NaN,NaN,...,1.0,15.0,NaN,credential for medical practice,12.0,8.0,"military, Peneski",11651,10,127
82,21432,11664.0,NaN,NaN,9.0,20.0,NaN,NaN,NaN,NaN,...,4.0,12.0,4.0,CNA,11.0,12.0,construction,11664,15,191
83,21516,11723.0,16.16,NaN,4.0,20.0,student,NaN,NaN,NaN,...,0.0,12.0,1.0,cafe manager,9.0,99.0,NaN,11723,11,138
84,21553,11824.0,11.51,NaN,5.0,NaN,NaN,2.0,NaN,NaN,...,0.0,14.0,18.0,homemaker,16.0,16.0,fireman,11824,10,121
85,21554,11825.0,11.51,NaN,5.0,NaN,NaN,2.0,NaN,NaN,...,0.0,14.0,18.0,homemaker,16.0,16.0,fireman,11825,8,106
86,21797,11862.0,17.75,NaN,7.0,20.0,student,2.0,NaN,NaN,...,0.0,20.0,2.0,professor,20.0,2.0,professor,11862,13,163
87,21827,11853.0,NaN,NaN,7.0,20.0,NaN,2.0,NaN,NaN,...,2.0,14.0,2.0,nurse,18.0,NaN,officer,11853,15,182
88,22064,11981.0,29.01,Self-report,7.0,20.0,NaN,NaN,NaN,NaN,...,2.0,14.0,2.0,aircraft fueler,11.0,4.0,construction,11981,14,168
89,22473,12097.0,22.03,NaN,12.0,NaN,NaN,NaN,NaN,NaN,...,0.0,14.0,4.0,NaN,NaN,NaN,NaN,12097,15,181
90,22473,12097.0,NaN,Self-report,8.0,20.0,student,NaN,NaN,NaN,...,0.0,16.0,NaN,part time support system tutor,12.0,NaN,subcontractor,12097,15,181
91,22510,12046.0,16.30,NaN,8.0,NaN,NaN,2.0,NaN,NaN,...,NaN,12.0,18.0,NaN,18.0,NaN,child welfare,12046,14,175
92,22520,12057.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,12.0,4.0,Amazon Warehouse,NaN,NaN,NaN,12057,14,170
93,22617,12080.0,NaN,Self-report,7.0,20.0,student,NaN,NaN,NaN,...,NaN,20.0,2.0,scientist,18.0,2.0,software engineer,12080,13,166
94,22617,12080.0,NaN,Self-report,5.0,20.0,student,NaN,NaN,NaN,...,0.0,20.0,2.0,scientist,18.0,2.0,software engineer,12080,13,166
95,22618,12081.0,NaN,Self-report,7.0,20.0,student,NaN,NaN,NaN,...,NaN,20.0,2.0,scientist,18.0,2.0,software engineer,12081,11,139
96,22618,12081.0,NaN,Self-report,5.0,20.0,student,NaN,NaN,NaN,...,0.0,20.0,2.0,scientist,18.0,2.0,software engineer,12081,11,139
97,22654,12107.0,NaN,NaN,3.0,20.0,student,NaN,NaN,NaN,...,0.0,18.0,1.0,management leadership,18.0,2.0,engineerr,12107,14,177
98,22654,12107.0,NaN,Self-report,8.0,20.0,student,NaN,NaN,NaN,...,0.0,18.0,1.0,management leadership,18.0,2.0,engineer,12107,14,177
99,138950,11533.0,NaN,NaN,10.0,20.0,NaN,2.0,NaN,NaN,...,NaN,13.0,9.0,Hairstylist,13.0,9.0,Cook,11533,16,194

In [16]:
fam_id=fam_id.drop_duplicates()
#fam_id
demos=pd.merge(demos,fam_id, left_on="bblid", right_on="BBLID")

In [17]:
demos=demos.drop(columns=['BBLID', 'PROTOCOL','scan_id_timepoint_1'])
demos=demos.rename(columns={"FAMID": "famid"})
demos

,bblid,BMI,MEASURE_WAY,EDUC,OCCODE,OCCODE_HX,SMOKE,CIGARS_A_DAY,SMOKE_AGE_S,EVERSMOKE,...,MOM_EDUC,MOM_OCCODE,MOM_OCCODE_HX,DAD_EDUC,DAD_OCCODE,DAD_OCCODE_HX,scanid_t1,age_in_years,age_in_months,famid
0,19861,19.00,NaN,10.0,20.0,NaN,2.0,NaN,NaN,2.0,...,14.0,1.0,administrative assistant,16.0,1.0,management,11012,15,183,7049
1,20124,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,NaN,NaN,12.0,NaN,NaN,10960,11,141,7245
2,20124,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,NaN,NaN,12.0,NaN,NaN,10960,11,141,7245
3,20139,17.03,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,20.0,2.0,COLLEGE PROFESSOR,16.0,2.0,ARTIST,11138,14,171,7253
4,20141,19.58,NaN,8.0,NaN,NaN,2.0,NaN,NaN,2.0,...,16.0,NaN,NaN,20.0,NaN,NaN,11000,14,177,2264
5,20149,32.72,NaN,5.0,20.0,Student,2.0,NaN,NaN,2.0,...,13.0,2.0,Salon Owner,12.0,14.0,Truck Driver,11003,11,139,7261
6,20188,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,18.0,NaN,lawyer,18.0,NaN,NaN,11140,13,161,7285
7,20252,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,18.0,NaN,lawyer,18.0,NaN,NaN,11143,15,184,7320
8,20253,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,18.0,NaN,lawyer,18.0,NaN,NaN,11142,10,130,7320
9,20212,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,20.0,NaN,professor,20.0,NaN,professor,11209,9,115,7300
10,20212,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,16.0,2.0,Journalist,16.0,2.0,owns a restaurant,11209,9,115,7300
11,20302,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,20.0,NaN,professor,20.0,NaN,professor,11208,12,147,7359
12,20302,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,16.0,2.0,Journalist,16.0,2.0,owns a restaurant,11208,12,147,7359
13,20303,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,20.0,NaN,professor,20.0,NaN,professor,11206,16,192,7359
14,20303,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,16.0,2.0,Journalist,16.0,2.0,owns a restaurant,11206,16,192,7359
15,20328,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,20.0,NaN,professor,20.0,NaN,professor,11207,13,161,7377
16,20328,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,16.0,2.0,Journalist,16.0,2.0,owns a restaurant,11207,13,161,7377
17,20214,15.45,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,16.0,2.0,Campus Ministry - Bridges International,16.0,2.0,Campus Ministry - Bridges International,11126,14,170,7301
18,20259,11.51,NaN,4.0,NaN,NaN,2.0,NaN,NaN,2.0,...,14.0,18.0,homemaker,16.0,16.0,fireman,11127,8,105,7326
19,20287,20.50,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11.0,7.0,childcare,12.0,9.0,chef,11290,15,182,7351
20,20287,NaN,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,12.0,1.0,works for school board of philadelphia,12.0,12.0,welding,11290,15,182,7351
21,20572,20.50,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11.0,7.0,childcare,12.0,9.0,chef,11289,11,141,7542
22,20572,NaN,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,12.0,1.0,works for school board of philadelphia,12.0,12.0,welding,11289,11,141,7542
23,20333,21.40,NaN,7.0,NaN,NaN,2.0,NaN,NaN,2.0,...,9.0,NaN,NaN,10.0,NaN,Manager at Burger King,11160,15,181,7380
24,20333,20.68,NaN,3.0,20.0,NaN,2.0,NaN,NaN,2.0,...,9.0,NaN,student righ now,11.0,NaN,NaN,11160,15,181,7380
25,20335,21.40,NaN,7.0,NaN,NaN,2.0,NaN,NaN,2.0,...,9.0,NaN,NaN,10.0,NaN,Manager at Burger King,11161,9,117,7380
26,20335,20.68,NaN,3.0,20.0,NaN,2.0,NaN,NaN,2.0,...,9.0,NaN,student righ now,11.0,NaN,NaN,11161,9,117,7380
27,20347,NaN,NaN,6.0,20.0,student,2.0,NaN,NaN,2.0,...,12.0,NaN,healthcare,NaN,9.0,cook,11132,12,148,7384
28,20352,15.26,NaN,2.0,20.0,NaN,2.0,NaN,NaN,2.0,...,16.0,NaN,campus minister,16.0,NaN,campus minister,11147,8,105,7301
29,20402,NaN,NaN,5.0,20.0,NaN,2.0,NaN,NaN,2.0,...,14.0,18.0,Homemaker,9.0,99.0,Hustler,11210,13,158,7414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,21112,18.94,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,12.0,5.0,retail,NaN,NaN,NaN,11468,12,147,8059
71,21118,15.80,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,16.0,9.0,hospitality,16.0,2.0,banker,11577,11,138,8062
72,21118,19.84,NaN,4.0,20.0,NaN,NaN,NaN,NaN,NaN,...,14.0,1.0,administrative,14.0,15.0,labor,11577,11,138,8062
73,21193,15.80,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,16.0,9.0,hospitality,16.0,2.0,banker,11576,10,128,8096
74,21193,19.84,NaN,4.0,20.0,NaN,NaN,NaN,NaN,NaN,...,14.0,1.0,administrative,14.0,15.0,labor,11576,10,128,8096
75,21139,15.47,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,1.0,USPS Clerk,16.0,12.0,NaN,11640,11,139,8073
76,21141,NaN,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,12.0,1.0,supervisor for MR clients,12.0,17.0,social security,11574,11,137,8074
77,21150,NaN,NaN,8.0,20.0,student,NaN,NaN,NaN,NaN,...,15.0,21.0,none,12.0,99.0,many jobs,11720,15,180,8078
78,21154,NaN,NaN,4.0,20.0,student,NaN,NaN,NaN,NaN,...,14.0,1.0,communicatoins,12.0,12.0,construction,11492,10,130,8080
79,21197,NaN,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,12.0,NaN,home health aid,12.0,NaN,construction worker,11798,11,133,8098
80,21224,31.01,NaN,8.0,20.0,student,NaN,NaN,NaN,NaN,...,16.0,NaN,security officer,12.0,NaN,roofer,11625,14,177,8119
81,21325,NaN,NaN,3.0,20.0,student,NaN,NaN,NaN,NaN,...,15.0,NaN,credential for medical practice,12.0,8.0,"military, Peneski",11651,10,127,8151
82,21432,NaN,NaN,9.0,20.0,NaN,NaN,NaN,NaN,NaN,...,12.0,4.0,CNA,11.0,12.0,construction,11664,15,191,8187
83,21516,16.16,NaN,4.0,20.0,student,NaN,NaN,NaN,NaN,...,12.0,1.0,cafe manager,9.0,99.0,NaN,11723,11,138,8222
84,21553,11.51,NaN,5.0,NaN,NaN,2.0,NaN,NaN,2.0,...,14.0,18.0,homemaker,16.0,16.0,fireman,11824,10,121,7326
85,21554,11.51,NaN,5.0,NaN,NaN,2.0,NaN,NaN,2.0,...,14.0,18.0,homemaker,16.0,16.0,fireman,11825,8,106,7326
86,21797,17.75,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,20.0,2.0,professor,20.0,2.0,professor,11862,13,163,8383
87,21827,NaN,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,14.0,2.0,nurse,18.0,NaN,officer,11853,15,182,8404
88,22064,29.01,Self-report,7.0,20.0,NaN,NaN,NaN,NaN,NaN,...,14.0,2.0,aircraft fueler,11.0,4.0,construction,11981,14,168,8550
89,22473,22.03,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,4.0,NaN,NaN,NaN,NaN,12097,15,181,8755
90,22473,NaN,Self-report,8.0,20.0,student,NaN,NaN,NaN,NaN,...,16.0,NaN,part time support system tutor,12.0,NaN,subcontractor,12097,15,181,8755
91,22510,16.30,NaN,8.0,NaN,NaN,2.0,NaN,NaN,2.0,...,12.0,18.0,NaN,18.0,NaN,child welfare,12046,14,175,8783
92,22520,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,4.0,Amazon Warehouse,NaN,NaN,NaN,12057,14,170,8791
93,22617,NaN,Self-report,7.0,20.0,student,NaN,NaN,NaN,NaN,...,20.0,2.0,scientist,18.0,2.0,software engineer,12080,13,166,8856
94,22617,NaN,Self-report,5.0,20.0,student,NaN,NaN,NaN,NaN,...,20.0,2.0,scientist,18.0,2.0,software engineer,12080,13,166,8856
95,22618,NaN,Self-report,7.0,20.0,student,NaN,NaN,NaN,NaN,...,20.0,2.0,scientist,18.0,2.0,software engineer,12081,11,139,8856
96,22618,NaN,Self-report,5.0,20.0,student,NaN,NaN,NaN,NaN,...,20.0,2.0,scientist,18.0,2.0,software engineer,12081,11,139,8856
97,22654,NaN,NaN,3.0,20.0,student,NaN,NaN,NaN,NaN,...,18.0,1.0,management leadership,18.0,2.0,engineerr,12107,14,177,8874
98,22654,NaN,Self-report,8.0,20.0,student,NaN,NaN,NaN,NaN,...,18.0,1.0,management leadership,18.0,2.0,engineer,12107,14,177,8874
99,138950,NaN,NaN,10.0,20.0,NaN,2.0,NaN,NaN,2.0,...,13.0,9.0,Hairstylist,13.0,9.0,Cook,11533,16,194,50147

In [18]:
demos=pd.merge(demos,axis_demos, left_on="bblid", right_on="bblid")
demos

,bblid,BMI,MEASURE_WAY,EDUC,OCCODE,OCCODE_HX,SMOKE,CIGARS_A_DAY,SMOKE_AGE_S,EVERSMOKE,...,scanid_t1,age_in_years,age_in_months,famid,redcap_id,study_group,sex,race,ethnicity,scanvisit_t1_status
0,19861,19.00,NaN,10.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11012,15,183,7049,19861,ADHD,1,1,1,1.0
1,20124,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10960,11,141,7245,20124,TD,2,2,2,1.0
2,20124,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10960,11,141,7245,20124,TD,2,2,2,1.0
3,20139,17.03,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,11138,14,171,7253,20139,TD,2,1,2,1.0
4,20141,19.58,NaN,8.0,NaN,NaN,2.0,NaN,NaN,2.0,...,11000,14,177,2264,20141,TD,2,2,3,1.0
5,20149,32.72,NaN,5.0,20.0,Student,2.0,NaN,NaN,2.0,...,11003,11,139,7261,20149,TD,1,2,2,1.0
6,20188,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11140,13,161,7285,20188,ADHD,1,1,2,1.0
7,20252,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11143,15,184,7320,20252,TD,1,2,2,1.0
8,20253,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11142,10,130,7320,20253,TD,2,2,2,1.0
9,20212,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,11209,9,115,7300,20212,PS,1,1,2,1.0
10,20212,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,11209,9,115,7300,20212,PS,1,1,2,1.0
11,20302,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,11208,12,147,7359,20302,TD,1,1,2,1.0
12,20302,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,11208,12,147,7359,20302,TD,1,1,2,1.0
13,20303,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,11206,16,192,7359,20303,TD,1,1,2,1.0
14,20303,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,11206,16,192,7359,20303,TD,1,1,2,1.0
15,20328,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,11207,13,161,7377,20328,PS,2,4,2,1.0
16,20328,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,11207,13,161,7377,20328,PS,2,4,2,1.0
17,20214,15.45,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11126,14,170,7301,20214,PS,2,1,2,1.0
18,20259,11.51,NaN,4.0,NaN,NaN,2.0,NaN,NaN,2.0,...,11127,8,105,7326,20259,TD,1,1,2,1.0
19,20287,20.50,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11290,15,182,7351,20287,TD,1,2,2,1.0
20,20287,NaN,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11290,15,182,7351,20287,TD,1,2,2,1.0
21,20572,20.50,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11289,11,141,7542,20572,ADHD,2,2,2,1.0
22,20572,NaN,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11289,11,141,7542,20572,ADHD,2,2,2,1.0
23,20333,21.40,NaN,7.0,NaN,NaN,2.0,NaN,NaN,2.0,...,11160,15,181,7380,20333,ADHD,2,2,2,1.0
24,20333,20.68,NaN,3.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11160,15,181,7380,20333,ADHD,2,2,2,1.0
25,20335,21.40,NaN,7.0,NaN,NaN,2.0,NaN,NaN,2.0,...,11161,9,117,7380,20335,ADHD,2,2,2,1.0
26,20335,20.68,NaN,3.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11161,9,117,7380,20335,ADHD,2,2,2,1.0
27,20347,NaN,NaN,6.0,20.0,student,2.0,NaN,NaN,2.0,...,11132,12,148,7384,20347,ADHD,2,2,2,1.0
28,20352,15.26,NaN,2.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11147,8,105,7301,20352,TD,2,1,2,1.0
29,20402,NaN,NaN,5.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11210,13,158,7414,20402,ADHD,1,2,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,21112,18.94,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,11468,12,147,8059,21112,PS,1,2,2,1.0
71,21118,15.80,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,11577,11,138,8062,21118,PS,2,1,2,1.0
72,21118,19.84,NaN,4.0,20.0,NaN,NaN,NaN,NaN,NaN,...,11577,11,138,8062,21118,PS,2,1,2,1.0
73,21193,15.80,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,11576,10,128,8096,21193,ADHD,2,1,1,1.0
74,21193,19.84,NaN,4.0,20.0,NaN,NaN,NaN,NaN,NaN,...,11576,10,128,8096,21193,ADHD,2,1,1,1.0
75,21139,15.47,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,11640,11,139,8073,21139,ADHD,1,2,2,1.0
76,21141,NaN,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,11574,11,137,8074,21141,PS,1,2,1,1.0
77,21150,NaN,NaN,8.0,20.0,student,NaN,NaN,NaN,NaN,...,11720,15,180,8078,21150,PS,2,5,2,1.0
78,21154,NaN,NaN,4.0,20.0,student,NaN,NaN,NaN,NaN,...,11492,10,130,8080,21154,ADHD,2,1,1,1.0
79,21197,NaN,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11798,11,133,8098,21197,ADHD,1,5,1,1.0
80,21224,31.01,NaN,8.0,20.0,student,NaN,NaN,NaN,NaN,...,11625,14,177,8119,21224,PS,1,1,2,1.0
81,21325,NaN,NaN,3.0,20.0,student,NaN,NaN,NaN,NaN,...,11651,10,127,8151,21325,PS,1,1,1,1.0
82,21432,NaN,NaN,9.0,20.0,NaN,NaN,NaN,NaN,NaN,...,11664,15,191,8187,21432,PS,1,2,1,1.0
83,21516,16.16,NaN,4.0,20.0,student,NaN,NaN,NaN,NaN,...,11723,11,138,8222,21516,PS,2,2,2,1.0
84,21553,11.51,NaN,5.0,NaN,NaN,2.0,NaN,NaN,2.0,...,11824,10,121,7326,21553,PS,1,1,2,1.0
85,21554,11.51,NaN,5.0,NaN,NaN,2.0,NaN,NaN,2.0,...,11825,8,106,7326,21554,TD,2,1,2,1.0
86,21797,17.75,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,11862,13,163,8383,21797,TD,1,1,2,1.0
87,21827,NaN,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11853,15,182,8404,21827,PS,2,5,2,1.0
88,22064,29.01,Self-report,7.0,20.0,NaN,NaN,NaN,NaN,NaN,...,11981,14,168,8550,22064,PS,2,2,2,1.0
89,22473,22.03,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,12097,15,181,8755,22473,TD,1,1,2,1.0
90,22473,NaN,Self-report,8.0,20.0,student,NaN,NaN,NaN,NaN,...,12097,15,181,8755,22473,TD,1,1,2,1.0
91,22510,16.30,NaN,8.0,NaN,NaN,2.0,NaN,NaN,2.0,...,12046,14,175,8783,22510,TD,2,1,1,1.0
92,22520,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,12057,14,170,8791,22520,TD,2,2,2,1.0
93,22617,NaN,Self-report,7.0,20.0,student,NaN,NaN,NaN,NaN,...,12080,13,166,8856,22617,TD,1,4,2,1.0
94,22617,NaN,Self-report,5.0,20.0,student,NaN,NaN,NaN,NaN,...,12080,13,166,8856,22617,TD,1,4,2,1.0
95,22618,NaN,Self-report,7.0,20.0,student,NaN,NaN,NaN,NaN,...,12081,11,139,8856,22618,TD,1,4,2,1.0
96,22618,NaN,Self-report,5.0,20.0,student,NaN,NaN,NaN,NaN,...,12081,11,139,8856,22618,TD,1,4,2,1.0
97,22654,NaN,NaN,3.0,20.0,student,NaN,NaN,NaN,NaN,...,12107,14,177,8874,22654,PS,2,1,1,1.0
98,22654,NaN,Self-report,8.0,20.0,student,NaN,NaN,NaN,NaN,...,12107,14,177,8874,22654,PS,2,1,1,1.0
99,138950,NaN,NaN,10.0,20.0,NaN,2.0,NaN,NaN,2.0,...,11533,16,194,50147,138950,PS,1,1,2,1.0

In [131]:
demos=demos.drop(columns=['scanvisit_t1_status','redcap_id'])
demos

,bblid,BMI,MEASURE_WAY,EDUC,OCCODE,OCCODE_HX,SMOKE,CIGARS_A_DAY,SMOKE_AGE_S,EVERSMOKE,...,DAD_OCCODE,DAD_OCCODE_HX,scanid_t1,age_in_years,age_in_months,famid,study_group,sex,race,ethnicity
0,19861,19.00,NaN,10.0,20.0,NaN,2.0,NaN,NaN,2.0,...,1.0,management,11012,15,183,7049,ADHD,1,1,1
1,19861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11012,15,183,7049,ADHD,1,1,1
2,20124,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10960,11,141,7245,TD,2,2,2
3,20124,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10960,11,141,7245,TD,2,2,2
4,20139,17.03,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,2.0,ARTIST,11138,14,171,7253,TD,2,1,2
5,20141,19.58,NaN,8.0,NaN,NaN,2.0,NaN,NaN,2.0,...,NaN,NaN,11000,14,177,2264,TD,2,2,3
6,20149,32.72,NaN,5.0,20.0,Student,2.0,NaN,NaN,2.0,...,14.0,Truck Driver,11003,11,139,7261,TD,1,2,2
7,20149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11003,11,139,7261,TD,1,2,2
8,20188,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,NaN,NaN,11140,13,161,7285,ADHD,1,1,2
9,20252,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,NaN,NaN,11143,15,184,7320,TD,1,2,2
10,20253,20.12,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,NaN,NaN,11142,10,130,7320,TD,2,2,2
11,20212,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,NaN,professor,11209,9,115,7300,PS,1,1,2
12,20212,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,2.0,owns a restaurant,11209,9,115,7300,PS,1,1,2
13,20302,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,NaN,professor,11208,12,147,7359,TD,1,1,2
14,20302,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,2.0,owns a restaurant,11208,12,147,7359,TD,1,1,2
15,20303,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,NaN,professor,11206,16,192,7359,TD,1,1,2
16,20303,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,2.0,owns a restaurant,11206,16,192,7359,TD,1,1,2
17,20328,NaN,NaN,10.0,20.0,student,2.0,NaN,NaN,2.0,...,NaN,professor,11207,13,161,7377,PS,2,4,2
18,20328,28.34,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,2.0,owns a restaurant,11207,13,161,7377,PS,2,4,2
19,20214,15.45,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,2.0,Campus Ministry - Bridges International,11126,14,170,7301,PS,2,1,2
20,20259,11.51,NaN,4.0,NaN,NaN,2.0,NaN,NaN,2.0,...,16.0,fireman,11127,8,105,7326,TD,1,1,2
21,20287,20.50,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,9.0,chef,11290,15,182,7351,TD,1,2,2
22,20287,NaN,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,12.0,welding,11290,15,182,7351,TD,1,2,2
23,20572,20.50,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,9.0,chef,11289,11,141,7542,ADHD,2,2,2
24,20572,NaN,NaN,8.0,20.0,NaN,2.0,NaN,NaN,2.0,...,12.0,welding,11289,11,141,7542,ADHD,2,2,2
25,20333,21.40,NaN,7.0,NaN,NaN,2.0,NaN,NaN,2.0,...,NaN,Manager at Burger King,11160,15,181,7380,ADHD,2,2,2
26,20333,20.68,NaN,3.0,20.0,NaN,2.0,NaN,NaN,2.0,...,NaN,NaN,11160,15,181,7380,ADHD,2,2,2
27,20335,21.40,NaN,7.0,NaN,NaN,2.0,NaN,NaN,2.0,...,NaN,Manager at Burger King,11161,9,117,7380,ADHD,2,2,2
28,20335,20.68,NaN,3.0,20.0,NaN,2.0,NaN,NaN,2.0,...,NaN,NaN,11161,9,117,7380,ADHD,2,2,2
29,20347,NaN,NaN,6.0,20.0,student,2.0,NaN,NaN,2.0,...,9.0,cook,11132,12,148,7384,ADHD,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,21112,18.94,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11468,12,147,8059,PS,1,2,2
73,21118,15.80,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,2.0,banker,11577,11,138,8062,PS,2,1,2
74,21118,19.84,NaN,4.0,20.0,NaN,NaN,NaN,NaN,NaN,...,15.0,labor,11577,11,138,8062,PS,2,1,2
75,21193,15.80,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,2.0,banker,11576,10,128,8096,ADHD,2,1,1
76,21193,19.84,NaN,4.0,20.0,NaN,NaN,NaN,NaN,NaN,...,15.0,labor,11576,10,128,8096,ADHD,2,1,1
77,21139,15.47,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,NaN,11640,11,139,8073,ADHD,1,2,2
78,21141,NaN,NaN,5.0,20.0,NaN,NaN,NaN,NaN,NaN,...,17.0,social security,11574,11,137,8074,PS,1,2,1
79,21150,NaN,NaN,8.0,20.0,student,NaN,NaN,NaN,NaN,...,99.0,many jobs,11720,15,180,8078,PS,2,5,2
80,21154,NaN,NaN,4.0,20.0,student,NaN,NaN,NaN,NaN,...,12.0,construction,11492,10,130,8080,ADHD,2,1,1
81,21197,NaN,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,NaN,construction worker,11798,11,133,8098,ADHD,1,5,1
82,21224,31.01,NaN,8.0,20.0,student,NaN,NaN,NaN,NaN,...,NaN,roofer,11625,14,177,8119,PS,1,1,2
83,21325,NaN,NaN,3.0,20.0,student,NaN,NaN,NaN,NaN,...,8.0,"military, Peneski",11651,10,127,8151,PS,1,1,1
84,21432,NaN,NaN,9.0,20.0,NaN,NaN,NaN,NaN,NaN,...,12.0,construction,11664,15,191,8187,PS,1,2,1
85,21516,16.16,NaN,4.0,20.0,student,NaN,NaN,NaN,NaN,...,99.0,NaN,11723,11,138,8222,PS,2,2,2
86,21553,11.51,NaN,5.0,NaN,NaN,2.0,NaN,NaN,2.0,...,16.0,fireman,11824,10,121,7326,PS,1,1,2
87,21554,11.51,NaN,5.0,NaN,NaN,2.0,NaN,NaN,2.0,...,16.0,fireman,11825,8,106,7326,TD,2,1,2
88,21797,17.75,NaN,7.0,20.0,student,2.0,NaN,NaN,2.0,...,2.0,professor,11862,13,163,8383,TD,1,1,2
89,21827,NaN,NaN,7.0,20.0,NaN,2.0,NaN,NaN,2.0,...,NaN,officer,11853,15,182,8404,PS,2,5,2
90,22064,29.01,Self-report,7.0,20.0,NaN,NaN,NaN,NaN,NaN,...,4.0,construction,11981,14,168,8550,PS,2,2,2
91,22473,22.03,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12097,15,181,8755,TD,1,1,2
92,22473,NaN,Self-report,8.0,20.0,student,NaN,NaN,NaN,NaN,...,NaN,subcontractor,12097,15,181,8755,TD,1,1,2
93,22510,16.30,NaN,8.0,NaN,NaN,2.0,NaN,NaN,2.0,...,NaN,child welfare,12046,14,175,8783,TD,2,1,1
94,22520,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12057,14,170,8791,TD,2,2,2
95,22617,NaN,Self-report,7.0,20.0,student,NaN,NaN,NaN,NaN,...,2.0,software engineer,12080,13,166,8856,TD,1,4,2
96,22617,NaN,Self-report,5.0,20.0,student,NaN,NaN,NaN,NaN,...,2.0,software engineer,12080,13,166,8856,TD,1,4,2
97,22618,NaN,Self-report,7.0,20.0,student,NaN,NaN,NaN,NaN,...,2.0,software engineer,12081,11,139,8856,TD,1,4,2
98,22618,NaN,Self-report,5.0,20.0,student,NaN,NaN,NaN,NaN,...,2.0,software engineer,12081,11,139,8856,TD,1,4,2
99,22654,NaN,NaN,3.0,20.0,student,NaN,NaN,NaN,NaN,...,2.0,engineerr,12107,14,177,8874,PS,2,1,1
100,22654,NaN,Self-report,8.0,20.0,student,NaN,NaN,NaN,NaN,...,2.0,engineer,12107,14,177,8874,PS,2,1,1
101,138950,NaN,NaN,10.0,20.0,NaN,2.0,NaN,NaN,2.0,...,9.0,Cook,11533,16,194,50147,PS,1,1,2

In [ ]:
demos=pd.merge(demos,axis_demos, left_on="bblid", right_on="bblid")

In [19]:
for col in demos.columns:
    print(col)

bblid
BMI
MEASURE_WAY
EDUC
OCCODE
OCCODE_HX
SMOKE
CIGARS_A_DAY
SMOKE_AGE_S
EVERSMOKE
EVERSMOKE_AGE_S
EVERSMOKE_AGE_E
NOBROTHER
NOSISTER
B_ORDER_SUB
NOHALF_BROTHER
NOHALF_SISTER
MOM_EDUC
MOM_OCCODE
MOM_OCCODE_HX
DAD_EDUC
DAD_OCCODE
DAD_OCCODE_HX
scanid_t1
age_in_years
age_in_months
famid
redcap_id
study_group
sex
race
ethnicity
scanvisit_t1_status